.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-logo {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: #ffff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #4190ff;
}

/* all container */
.detail-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  gap: 40px;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.detail-image img {
  margin: 50px;  
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.detail-info {
  max-width: 500px;
}

.detail-info h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.harga {
  font-size: 24px;
  color: #e91e63;
  margin-bottom: 20px;
}

.spesifikasi {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.spesifikasi li {
  margin-bottom: 8px;
  font-size: 16px;
}

.btn-booking, .btn-back {
  display: inline-block;
  padding: 12px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.btn-booking:hover, .btn-back:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.footer {
    background-color: #111;
    color: #eee;
    padding: 40px 20px 20px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-about,
.footer-links,
.footer-contact {
    flex: 1 1 250px;
}

.footer h3.footer h4 {
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.footer p, .footer li {
    color: #ccc;
    margin-bottom: 8px;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #00bcd4;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    margin-top: 30px;
    font-size: 13px;
}